{% extends "layouts/base.html" %}

{% block content %}
<section class="contact">
    
    <div class="container mt-4">
        <div class="row element-container">
            <div class="col-md-4 left-column">
                <h4>Contact</h4>
            </div>
            <div class="col-md-8 right-column">
                    <div class="contact">
                        <h2>Friedrich Wessel</h2>
                        <p class="small-info">
                            <i><b>mail@friedrichwessel.de</b></i>
                        </p>
                        <div class="row">
                            <div class="col">
                                <a href="https://www.linkedin.com/in/friedrich-wessel-9862003a" target="_blank">
                                    <i class="contact-devicon devicon-linkedin-plain"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://github.com/FriedrichWessel" target="_blank">
                                    <i class="contact-devicon devicon-github-original-wordmark"></i>
                                </a>    
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}





