{% extends "layouts/base.html" %}

{% block content %}
<section class="impressum">
    
    <div class="container mt-4">
        <div class="row element-container">
            <div class="col-md-4 left-column">
                <h4>Impressum</h4>
            </div>
            <div class="col-md-8 right-column">
                    <div class="contact">
                        {{ content | safe }}
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}





