/* Global */
:root {
    --main: rgb(24, 119, 64);
    --dark-main: rgb(17, 93, 49);
    --light-bg: rgb(194, 232, 210, 0.25);
    --dark-bg: rgb(21, 52, 33);
    --light-text: #fff;
    --highlight: #f19e0f;
}

h2 {
    color: var(--main);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
    text-align: center;
    background-color: var(--dark-bg);
    padding: 20px 0;
  }

  .footer-widget a:hover {
    color: var(--highlight);
  }

/* banner */

.banner {
    background-color: var(--dark-bg);
    color: var(--light-text);
    padding: 20px;
}

.banner h2 {
    color: var(--light-text);
}

.dark-headline {
    color: var(--dark-main);
}

.typing-container-center{
    width: 50%;
    max-width: 50%;
    position: relative;
    text-align: center;
}

.typing-text{
    display: inline-block;
    border-right: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation:  typing 3s steps(30, end),
                blink-caret 0.75s step-end infinite,
                cursor-hide 0s 3s forwards;
}

.typing-container {
    width: 100%;
    max-width: 100%;
    border-right: 2px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    animation:  typing 3s steps(30, end),
                blink-caret 0.75s step-end infinite,
                cursor-hide 0s 3s forwards;
}

.typing-container2 {
    width: 100%;
    max-width: 100%;
    border-right: 2px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation:  delay-visible 0s 3s forwards,
                typing 3s steps(30, end) 3s,
                blink-caret 0.75s step-end infinite,
                cursor-hide 0s 6s forwards;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
}

@keyframes delay-visible {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes cursor-hide {
    from { border-color: rgb(255, 255, 255); }
    to { border-color: transparent; }
}

/* About */

.about {
    padding: 50px;
}

/* Skills Grid */ 

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.skillsGrid i{
    font-size: 3em;
    color: var(--main); 
    text-align: center;
}
.skillsGrid a {
    text-align: center;
}

.skills {
    margin-top: 50px;
    margin-bottom: 150px;
}

.skills .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
}

.skills .card-body {
    flex: 1 1 auto;
}

.skills .card{
    border: 0px;
}

.skills .card-header{
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-size: 20px;
}


/* CV */ 

.cv.banner{
    height: 400px;
     
}

.cv-header {
    font-size: 25px;
}

@media (max-width: 767px) {
    .cv-header {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .cv-header {
        font-size: 18px;
    }
}


.left-column h4::after {
    content: '';
    display: block;
    width: 100%; 
    height: 4px;
    background-color: var(--highlight);
    position: absolute;
    bottom: -8px; 
    left: 0;
}

.left-column h4 {
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: var(--main);
}

.experience h2 {
    color: var(--dark-main);
    font-weight: 500;
    font-size: 32px;
}

.element-container {
    border-bottom: 2px solid var(--light-bg); 
    padding-left: 10px 0;
    margin-bottom: 15px;
}

/* Portfolio masonry */



.grid-container {
    column-count: 2;
    column-gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    line-height: 0 !important;
}

.grid-item {
    background-color: var(--light-bg);
    display: block;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 1200px;
    transition: max-height 0.8s ease, opacity 0.8s ease;
}

.img-container {
    background-color: var(--light-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

/* Overlay */

.overlay {
    max-height: 0;
    background-color: var(--dark-bg);
    color: #fff;
    padding: 0px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    line-height: 1.7em;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.overlay h4,
.overlay h6,
.overlay p {
    color: var(--light-text)
}

.overlay a{
    color: var(--light-text);
}

.grid-item:hover .overlay {
    max-height: 800px;
    padding: 20px;
}

@media (max-width: 800px) {
    .grid-container {
        column-count: 1;
    }
}

/* Shuffle filter */
.item-hidden {
    max-height: 0px;
    opacity: 0;
    margin: 0;
}

/* Contact */
.color-field {
    background-color: var(--dark-bg);
    width: 100%;
    height: 100%;
}

.contact-devicon{
    font-size: 3em;
    color: var(--main); 
    text-align: center;
}

.contact h2 {
    color: var(--dark-main);
    font-weight: 500;
    font-size: 32px;
}

/* Impressum */

.impressum h3{
    color: var(--main);
    font-weight: 500;
}